@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  color: inherit;
  border-bottom: 1px solid #dddddd;
}

body {
  color: #414141;
  background-color: /*#aec6cf*/ #f7f8f9;
  font-family: "Lato", "Arial", sans-serif;

}

.contentContainer {
  height: 800px;
  position: relative;
  overflow:hidden;
}


@keyframes fruitfall {
  0% {
    top: 150px;
  }
  100% {
    top: 1000px;
  }
}

@keyframes ripen {
  0% {
    background-color: #fce13d;
  }
  100% {
    background-color: #fe0000;
  }
}

@keyframes grow {
  0% {
    background-color: #6dac4f;
    top:150px;
    transform:scale(0);
  }
  100% {
    background-color: #fce13d;
    transform: scale(1);
  }
}


@keyframes opaque {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
  background-color: #414141;
  color: white;
  z-index: 4;
}

.menu {
  position: relative;
}

.dropdown > span {
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.features-menu {
  display: none;
}

.dropdown:hover .features-menu,
.dropdown:focus .features-menu,
.dropdown:active .features-menu{
  display: flex;
  flex-direction: column;
  background: #414141;
  border-radius: 5px;
  padding-top: 60px;
  top: 0;
  left: -20px;
  position: absolute;
  z-index: 1;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid #FFF;

  padding: 0 40px 10px 20px;
  margin: 10px;
}

.features-menu li:last-of-type {
  border-bottom: none;
}


.content {
  width: 650px;
  padding-top:100px;
  padding-bottom:100px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 15px;
  font-weight: normal;
  text-align: center;
}

p {
  text-align: left;
  padding: 20px;
}

a {
  text-decoration: none;
}

.timer-container {
  width: 450px;
  position: relative;
  padding: 10px;
  display:flex;
  justify-content:center;
  margin: auto;
  animation:
    opaque
    1s
    ease-out
    forwards;
}

#pomodoroCount {
  position: absolute;
  left: -200px;
  top: 50px;
  font-size: 40px;
  height: 60px;
  width: 280px;
  border-radius: 5px;
  background-color: #414141;
  color: #f7f8f9;
  text-align: left;
}

#timer {
  position: absolute;
  width: 300px;
  height: 120px;
  font-size: 90px;
  display: flex;

  justify-content:center;
  align-items: center;
  z-index: 1;
}

#timerDisplay {
  position: absolute;
  width: 300px;
  height: 120px;
  font-size: 90px;
  display: flex;
  justify-content:center;
  align-items: center;
}

#pomodoroDisplay {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 5px;
  font-size: 45px;
  border: 2px solid #414141;
  text-align: justify;
  background-color: #f7f8f9;
  color: #414141;
  border-radius: 10px;
  line-height: 1.03;
}

#pomodoroControl {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 5px;
  font-size: 45px;
  z-index: 1;
}

#seconds, #minutes {
  font-size: 90px;
  height: 100px;
  width: 125px;
}

input[type='number'] {
  border: 2px solid #414141;
  text-align: justify;
  background-color: #f7f8f9;
  color: #414141;
  border-radius: 10px;
  font-family: "Lato", "Arial", sans-serif;
}

#control {
  cursor: pointer;
  position: absolute;
  left: 380px;
  top: 20px;
  font-size: 40px;
  height: 45px;
  width: 120px;
  border-radius: 5px;
  background-color: #414141;
  color: #f7f8f9;
  text-align: center;

}

#rest {
  cursor: pointer;
  position: absolute;
  left: 380px;
  top: 75px;
  font-size: 40px;
  height: 45px;
  width: 120px;
  border-radius: 5px;
  background-color: #414141;
  color: #f7f8f9;
  text-align: center;
}

.timerNum {
  border: 2px solid #414141;
  font-size: 90px;
  height: 100px;
  width: 125px;
  text-align: justify;
  background-color: #f7f8f9;
  color: #414141;
  border-radius: 10px;
  line-height: 1.07;
}

.tomato-container {
  display: flex;
  justify-content: center;

}

.tomato {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#fruit {
  animation:
    opaque
    3s
    ease-out
    forwards;

  transform-origin: 50% 12%;
  position: absolute;
  top: 150px;
  width: 290px;
  height: 290px;
  background-color: #fce13d;
  border-radius: 50%;
  z-index: 2;
}

.stem {

  position: absolute;
  bottom: 250px;
  z-index: 3;
}
